<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload Audio File</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
      }

      .box-text {
        border: 1px solid gray;
        border-radius: 25px;
        padding: 15px;
        word-break: break-word;
        white-space: normal;
        width: 80%;
      }
    </style>
  </head>

  <body>
    <h2>Upload Audio File</h2>

    <!-- Form to select and upload audio file -->
    <form id="uploadForm">
      <input type="file" id="audioFile" accept="audio/*" required />
      <button type="submit">Upload Audio</button>
    </form>

    <p>Server Response:</p>
    <pre id="message" class="box-text"> Text will show here</pre>

    <script>
      document
        .getElementById("uploadForm")
        .addEventListener("submit", async function (event) {
          event.preventDefault(); // Prevent default form submission

          const fileInput = document.getElementById("audioFile");
          const audioFile = fileInput.files[0]; // Get the selected audio file

          if (!audioFile) {
            alert("Please select an audio file.");
            return;
          }

          const formData = new FormData();
          formData.append("audio", audioFile); // Append the audio file to the form data
          document.getElementById("message").innerText =
            "Processing... wait a minutes...";

          try {
            // Send the audio file to the server using fetch
            const response = await fetch("http://localhost:8080/upload-audio", {
              method: "POST",
              body: formData,
            });

            const result = await response.json();
            document.getElementById("message").innerText = `${result.message}`;
          } catch (error) {
            console.error("Error uploading audio:", error);
            document.getElementById(
              "message"
            ).innerText = `Error uploading audio. Please try again.`;
          }
        });
    </script>
  </body>
</html>
